@font-face {
    font-family: "Hack Nerd Font Mono";
    src: url('../font/hack-regular-nerd-font-mono.ttf') format("truetype");
}

* { 
  /* TODO: document font-size issues */
    font-family: "Hack Nerd Font Mono";
    font-size: 18px;
}

pre {
    position: absolute;
    /* avoid pre first line spacing */
    top: -1em;
    left: 0em;
}
